:root {
    --main-color: #ffe600;
    --text-color: rgb(0, 0, 0);
    --heading1: 50px;
    --heading2: 40px;
    --baseFontSize: 18px;
  }
  * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  a { 
    text-decoration: none;
    color: var(--text-color);
  }
  ul { 
    list-style-type: none;
  }
  body{ 
    font-size: var(--baseFontSize);
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--text-color);
  }
  html, 
  body {
    height: 100%;
  }
  h1 {
    font-size: var(--heading1);
  }
  h2 {
    font-size: var(--heading2);
  }
  #main-header {
    width: 100%;
    background: rgb(0, 0, 0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 60px;
  }
  #main-header > h1 {
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 0;
  }
  #main-header > h1 > a > img {
    position: absolute;
    top: 13px;
  }
  #main-header > nav {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 700;
  }
  #main-header > nav > ul > li {
    display: inline-block;
    margin-left: 5em;
    
  }
  #main-header > nav a {
    color: #fff;
   
  } 
  #main-header > nav a:hover {
    color: var(--main-color);
  }
  .main {
    width: 100%;
    height: calc(100% - 60px);
    background: #ccc;
  }
  .main .col {
    width: calc(100% / 4);
    height: 100%;
    background: #abc;
    position: relative;
    float: left;
  }
  .main .col h2 {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    width: 100%;
    left: 0;
    /* 중앙수직위치 = 50% - 요소높이 1/2 */
    top: calc(50% - 109px / 2);
  }
  
  .btn-link {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 120px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 100px;
    left: calc(50% - 124px/2);
  }
  .btn-link:hover, .btn-link:active {
    background: rgba(255, 255, 255, 0.75);
    color: #ffe600;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 32, 32, 0.5);
  }

  .main .col:first-child {
    background-image: url(./image/new-product.jpg);
    background-size: cover;
    background-position: center;
  }
  .main .col:nth-child(2) {
    background-image: url(./image/best.jpg);
    background-size: cover;
    background-position: center;
  }
  .main .col:nth-child(3) {
    background-image: url(./image/sale.jpg);
    background-size: cover;
    background-position: center;
  }
  .main .col:nth-child(4) {
    background-image: url(./image/item.jpg);
    background-size: cover;
    background-position: center;
  }
